html
    head
        title Almacén
        link(rel="stylesheet" type="text/css" href="styles.css")
    body
        header.header
            img.logo_header(src='shopping-cart-icon.png' alt='logo header')
            nav.botonera
                a.boton_a(href="/") Home
                a.boton_a(href="/empresas") Empresas proveedoras
                a.boton_a(href="/alimentos") Alimentos
                a.boton_a(href="/clientes") Clientes
                a.boton_a(href="/paises") Paises
        div.main
            div.contenedor_tabla
                h2 Clientes
                nav.botonera_top_tabla
                    button.boton_b#btnAnadirCliente Añadir Cliente
                    button.boton_b#btnEditarCliente Editar Cliente
                table
                    thead
                        tr
                            td ID
                            td Nombre
                            td Contacto
                            td Acciones
                    each cliente in clientes
                        tr.tr_not_thead
                            td= `${cliente.Id}`
                            td= `${cliente.Nombre}`
                            td= `${cliente.Contacto}`
                            td
                                a.accion_button_borrar(href=`/remover_cliente/${cliente.Id}`) 🗑️ Borrar

        script(src="funcionalidades.js")