html
    head
        title Supermercado
        link(rel="stylesheet" type="text/css" href="styles.css")
    body
        header.header
            img.logo_header(src='shopping-cart-icon.png' alt='logo header')
            nav.botonera
                a.boton_a(href="/") Home
                a.boton_a(href="/empresas") Empresas proveedoras
                a.boton_a(href="/alimentos") Alimentos
                a.boton_a(href="/clientes") Clientes
                a.boton_a(href="/paises") Paises
        div.main
            img.pie_image(src='shopping-pie-icon.png' alt='Pie image')
            div
                h2.main_heading Bienvenidos al ¡TE LO TENGO!.
                p.main_paragraph ¡Este es nuestro almacén/supermercado de alimentos y más!
                p.main_paragraph_small INTEGRANTES
                p.main_paragraph_small José Manuel Márquez
                p.main_paragraph_small Zeuddy Segovia
                p.main_paragraph_small Samuel Toro
                p.main_paragraph_small Esteban Elí Gómez González
