html
    head
        title Almacén
        link(rel="stylesheet" type="text/css" href="styles.css")
    body
        header.header
            img.logo_header(src='shopping-cart-icon.png' alt='logo header')
            nav.botonera
                a.boton_a(href="/") Home
                a.boton_a(href="/empresas") Empresas proveedoras
                a.boton_a(href="/alimentos") Alimentos
                a.boton_a(href="/clientes") Clientes
                a.boton_a(href="/paises") Paises
        div.main
            div.contenedor_tabla
                h2 Paises
                nav.botonera_top_tabla
                    button.boton_b#btnAnadirPaises Añadir País
                    button.boton_b#btnEditarPaises Editar País
                table
                    thead
                        tr
                            td ID
                            td Nombre
                            td Acciones
                    each pais in paises
                        tr.tr_not_thead
                            td= `${pais.Id}`
                            td= `${pais.Nombre}`
                            td
                                a.accion_button_borrar(href=`/remover_paises/${pais.Id}`) 🗑️ Borrar

        script(src="funcionalidades.js")